/*  buttons settings
 *  - for buttons and links that look like buttons
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

// TODO: probably it is better to set a whitelist of elements
// instead of defining a blacklist
// intension of this rule was, to prevent missing space between buttons
// is this a bs3 to bs4 issue?
:not(.input-group-btn):not(.btn-group):not(.popover-header) > .btn {
  margin-right: 5px;
}

  .info-button {
    font-size: 12px;
    margin-top: 2px;
  }
  .pmud-button .btn {
    margin-top: 2px;
    font-size: 12px;
  }

// Large devices (desktops) and below: <1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
