@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* ****************** global settings ******************* */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 220px; /* Margin bottom by footer height */
}
html body #page {
  background-color: #F9F9F9;
}
.oa-borderbox {
  border-radius: 3px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 20px 0px 40px 15px;
}
.panel {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px
}
html body #page #main_content .jumbotwo h2 {
  font-size: 21px;
  margin: 21px 0 10px 0;
}
.panel-default > .panel-heading,
.result_body .result_filter .panel .panel-heading,
.panel-heading {
  background-color: #00487D;
  color: white;
  padding: 10px;
  margin: 10px -1px;
}
.result_body .result_filter .panel .panel-heading .panel-title {
  color: white;
}

/* ****************** header and logos ****************** */
header {
    background-color: white;
}
html body header #header_box {
  margin: 0px auto 20px auto;
  background: transparent url("../images/back_head.png") no-repeat top left 8px;
  min-height: 281px;
  position: relative;
}
.head_logo {
    position: absolute;
    height: 40px;
}
 #logo_oa {
   left: 20px;
   top: 64px;
   height: 110px;
 }
#logo_bfr {
    left: 1000px;
    top: 184px;
}
#logo_thuenen {
  left: 891px;
  top: 184px;
}
#logo_mri {
  left: 796px;
  top: 184px;
}
#logo_fli {
  left: 714px;
  top: 184px;
}
#logo_jki {
  left: 637px;
  top: 177px;
  height: 46px;
}
#logo_dbfz {
  left: 566px;
  top: 181px;
  height: 43px;
}
#logo_bvl {
  left: 479px;
  top: 184px;
}
#logo_bvl_short {
  left: 400px;
  top: 184px;
}
#site_logo {
  position:absolute;
  top:10px;
  left:0px;
}
#oa_re3data {
  margin: 5px 0px 30px 0px;
}

/* ****************** searchfield_box ******************* */
.searchfield_box {
  position: absolute;
  left: 8px;
  bottom: -40px;
  background: transparent url("../images/searchbar.png") no-repeat top left;
  width: 625px;
}

.searchfield_box .btn-primary {
  background: transparent url("../images/searchbar_label.png") no-repeat top left;
  width: 98px;
  height: 32px;
  border-width: 0px;
  margin: 0 0 0 15px;
  padding:0;
}

.searchfield_box .form-control,
.searchfield_box input {
  border-width: 0px;
}
html body header #searchInput {
  padding: 0 0 0 25px;
  margin-top: 0;
  height: 30px;
  width: 487px;
  background: transparent url("../images/searchbar_input.png") no-repeat top left;
}
.searchfield_box .navbar-form {
  margin: 4px 0;
}

/* ********************* navigation ********************* */
.mir-main-nav .container {
    position: relative;
}
.mir-main-nav nav .navbar-nav {
  margin: -22px 0px 0px 0px;
}
.mir-main-nav .navbar-header {
  float: right;
  margin: 0 0 0 0;
}
.navbar {
  position: inherit;
  min-height: 30px;
  background-color: #F9F9F9;
  border-top: 2px solid #00487D;
}
.navbar-default .navbar-nav > li {
  background-color: #00487D;
}
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a {
  background-color: #85bc7c;
}
.mir-main-nav {
    box-shadow: unset;
}
.mir-main-nav .navbar-nav > li > a > .caret {
  margin-left: 6px;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a,
.mir-main-nav .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.mir-main-nav .nav > li > a {
  padding: 10px 0px 8px 17px;
}
.mir-main-nav .nav > li {
  background: #eee url("../images/back_main_menu_button.png") no-repeat top left;
  border: 0px solid #ccc;
  margin: 0 0px 0 5px;
  padding: 0 0 0 0px;
  height: 40px;
  width: 120px;
}
.mir-main-nav .nav > li:hover, .mir-main-nav .nav > li:active {
  background: #eee url("../images/back_main_menu_button_down.png") no-repeat top left;
}
.mir-main-nav nav .navbar-nav > li > a {
  color: #00487D;
  font-weight: 700;
  font-size: 16px;
}
.mir-main-nav nav .navbar-nav > li > a:hover {
  color: #223;
}
.mir-main-nav nav .navbar-nav > li > a:hover .caret {
    border-top-color: #00487D !important;
}
.mir-main-nav nav .navbar-nav .dropdown-menu::before {
    border-color: transparent transparent #00487D transparent;
}
.mir-main-nav nav .navbar-nav .dropdown-menu {
  background-color: #00487D;
  border: 0px !important;
  box-shadow: 0 0 0 !important;
  padding: 0px;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > li > a {
  border-top: 1px solid #F9F9F9;
  padding-top: 9px;
  padding-bottom: 9px;
}

.mir-main-nav nav .navbar-nav > li > a:hover,
.mir-main-nav nav .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > .open > a {
  background-color: transparent;
  color: #223;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > .open > a {
  text-decoration: none;
}

.navbar-default .navbar-nav > li.active {
  background: #eee url("../images/back_main_menu_button_down.png") no-repeat top left;
}


/* *********************** editor *********************** */
.oa-noteLocationCorp > div {
  padding-top: 20px;
}
.oa-noteLocationCorp > label {
  margin-top: 20px;
}
.oa-noteLocationCorp-meta {
  margin-top: 20px;
  display: block;
}


/* *********************** footer *********************** */
html body #powered_by {
  text-align: right;
  background-color: #00487D;
  border-top: 0;
  padding: 5px 0;
}
.flatmir-footer {
  color: #ebeded;
  border: none;
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 205px; /* Set the fixed height of the footer here */
}
.flatmir-footer .container {
  margin-top: 0px;
  margin-bottom: 0px;
}
#sponsored_by {
  background-color: #F9F9F9;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.flatmir-footer .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background-color: inherit;
}
html body footer .internal_links {
  width: 100%;
}
.internal_links > li:nth-child(1) > a:nth-child(1) {
  padding-left: 0px;
}
#oa-copyright {
  margin-top: 150px;
  position: absolute;
}


/* *********************** result page *********************** */
.result_headline h1 {
  color: #693;
  font-weight: bold;
}
.result_headline h1 span.resultText {
  color: #666;
  font-weight: normal;
}
.result_headline h2 {
  color: #666;
  font-size: 20px;
}

.hit_option .fa-bookmark {
  margin-right: 3px;
}


/* *********************** altmetrics *********************** */

div#_altmetric_popover_el.altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner .altmetric-popover-content {
  background-color: #f9f9f9 !important;
}

/* ******************* temp statistic browser ***************** */

.statisticBrowser a {
    text-decoration: none !important;
}

.statisticBrowser tbody td {
    white-space:nowrap;
}

.sbSquare {
    color: #aaa;
}

/****************** temp refeered badge ************************/
.hit_refereed {
    float: left;
    margin-left: 5px;
    color: #aeafb3;
}

#badges .oa_refereed {
    display: inline;
    color: #aeafb3;
}
.mir-prop-nav {
    margin: 10px 0;
}
