html body .jumbotron {
  color: #444444;;
  background: unset;
  background-color: #d7dbdc;
}

html body #powered_by {
  background-color: white;
  border: none;
}

.flatmir-footer {
  color: #ebeded;
  border: none;
}