/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* ****************** global settings ******************* */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 220px; /* Margin bottom by footer height */
}

html body #page {
  background-color: #F9F9F9;
}

/* ****************** header and logos ****************** */
html body header #header_box {
  margin: 0px auto 20px auto;
  background: transparent url("../images/back_head.png") no-repeat top left;
  min-height: 220px;
  position: relative;
}
.head_logo {
    position: absolute;
}
 #logo_oa {
   left: 20px;
   top: 33px;
 }
#logo_bfr {
    left: 888px;
    top: 162px;
}
#logo_thuenen {
  left: 812px;
  top: 162px;
}
#logo_mri {
  left: 745px;
  top: 162px;
}
#logo_fli {
  left: 692px;
  top: 162px;
}
#logo_jki {
  left: 636px;
  top: 157px;
}
#logo_dbfz {
  left: 583px;
  top: 157px;
}
#site_logo {
  position:absolute;
  top:10px;
  left:0px;
}


/* ****************** searchfield_box ******************* */
.searchfield_box {
  position: absolute;
  left: 8px;
  bottom: -40px;
  background: transparent url("../images/searchbar.png") no-repeat top left;
  width: 625px;
}

.searchfield_box .btn-primary {
  background: transparent url("../images/searchbar_label.png") no-repeat top left;
  width: 98px;
  height: 32px;
  border-width: 0px;
  margin: 0 0 0 15px;
  padding:0;
}

.searchfield_box .form-control,
.searchfield_box input {
  border-width: 0px;
}
html body header #searchInput {
  padding: 0 0 0 25px;
  margin-top: 0;
  height: 30px;
  width: 487px;
  background: transparent url("../images/searchbar_input.png") no-repeat top left;
}
.searchfield_box .navbar-form {
  margin: 4px 0;
}

/* ********************* navigation ********************* */
.mir-main-nav .container {
    position: relative;
}
.mir-main-nav nav .navbar-nav {
  margin: -22px 0px 0px 0px;
}
.mir-main-nav .navbar-header {
  float: right;
  margin: 0 0 0 0;
}
.navbar {
  position: inherit;
  min-height: 30px;
  background-color: #F9F9F9;
  border-top: 2px solid #00487D;
}
.navbar-default .navbar-nav > li {
  background-color: #00487D;
}
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a {
  background-color: #85bc7c;
}
.mir-main-nav {
    box-shadow: unset;
}
.mir-main-nav .navbar-nav > li > a > .caret {
  margin-left: 6px;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a,
.mir-main-nav .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.mir-main-nav .nav > li > a {
  padding: 9px 5px 9px 10px;
}
.mir-main-nav .nav > li {
  background: #eee url("../images/back_main_menu_button.png") no-repeat top left;
  border: 0px solid #ccc;
  margin: 0 0px 0 5px;
  padding: 0 0 0 0px;
  height: 40px;
  width: 120px;
}
.mir-main-nav .nav > li:hover, .mir-main-nav .nav > li:active {
  background: #eee url("../images/back_main_menu_button_down.png") no-repeat top left;
}
.mir-main-nav nav .navbar-nav > li > a {
  color: #00487D;
  font-weight: 700;
  font-size: 16px;
}
.mir-main-nav nav .navbar-nav > li > a:hover {
  color: #223;
}
.mir-main-nav nav .navbar-nav > li > a:hover .caret {
    border-top-color: #00487D !important;
}
.mir-main-nav nav .navbar-nav .dropdown-menu::before {
    border-color: transparent transparent #00487D transparent;
}
.mir-main-nav nav .navbar-nav .dropdown-menu {
  background-color: #00487D;
  border: 0px !important;
  box-shadow: 0 0 0 !important;
  padding: 0px;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > li > a {
  border-top: 1px solid #F9F9F9;
  padding-top: 9px;
  padding-bottom: 9px;
}

.mir-main-nav nav .navbar-nav > li > a:hover,
.mir-main-nav nav .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > .open > a {
  background-color: transparent;
  color: #223;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > .open > a {
  text-decoration: none;
}

.navbar-default .navbar-nav > li.active {
  background: #eee url("../images/back_main_menu_button_down.png") no-repeat top left;
}


/* *********************** editor *********************** */
.oa-noteLocationCorp > div {
  padding-top: 20px;
}
.oa-noteLocationCorp > label {
  margin-top: 20px;
}
.oa-noteLocationCorp-meta {
  margin-top: 20px;
  display: block;
}


/* *********************** footer *********************** */
html body #powered_by {
  text-align: right;
  background-color: #00487D;
  border-top: 0;
  padding: 5px 0;
}
.flatmir-footer {
  color: #ebeded;
  border: none;
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 205px; /* Set the fixed height of the footer here */
}
.flatmir-footer .container {
  margin-top: 0px;
  margin-bottom: 0px;
}
#sponsored_by {
  background-color: #F9F9F9;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.flatmir-footer .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background-color: inherit;
}
html body footer .internal_links {
  width: 100%;
}
.internal_links > li:nth-child(1) > a:nth-child(1) {
  padding-left: 0px;
}
#oa-copyright {
  margin-top: 150px;
  position: absolute;
}